body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('postalcor.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;

}

.tarjeta{
    background-color: white;
    width: 450px;
    padding: 20px;
    border-radius: 20px; 
    border: 3px solid #eeb3be; 
    text-align: center;
    /*centar div*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/**Boton*/
button{
    background-color:#ff4d6d;
    color:beige;
    border:none;
    padding: 10px;
    cursor: pointer;
}
/**Efecto al pasar el mouse*/
button:hover{
    background-color:#f12f53;}